/* i {
    position: absolute;
    width: 15px !important;
    height: 15px !important;
}

.icon-airplane {
    background: url('./img/icons/airplane.svg');
    background-repeat: no-repeat;
}

.icon-arrow-back {
    background: url('./img/icons/arrow-back.svg');
    background-repeat: no-repeat;
}

.icon-arrow-back {
    background: url('./img/icons/arrow-forward.svg');
    background-repeat: no-repeat;
}

.icon-brasselts {
    background: url('./img/icons/brasselts.svg');
    background-repeat: no-repeat;
}

.icon-check-mark {
    background: url('../img/icons/check-mark.svg');
    background-repeat: no-repeat;
}

.icon-caret-down {
    background: url('../img/icons/caret-down.svg');
    background-repeat: no-repeat;
}

.icon-conner-triangle {
    background: url('../img/icons/conner-triangle.svg');
    background-repeat: no-repeat;
}

.icon-date-range {
    background: url('../img/icons/date-range.svg');
    background-repeat: no-repeat;
}

.icon-location-on {
    background: url('../img/icons/location-on.svg');
    background-repeat: no-repeat;
}

.icon-star {
    background: url('../img/icons/star.svg');
    background-repeat: no-repeat;
}

.icon-suitcase-rolling {
    background: url('../img/icons/suitcase-rolling.svg');
    background-repeat: no-repeat;
} */